@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');


/* Paleta de cores Light Mode */
:root {
    --primary-color: #32A03E;
    --bg-color: #f0f0f0;
    --text-color: #333;
    --chat-bg: #ffffff;
    --bot-msg-bg: #e6f7e8;
    --user-msg-bg: #32A03E;
    --user-msg-color: white;
    --input-bg: #f8f9fa;
    --input-border: #ced4da;
    --input-color: rgb(30, 113, 6) ;
}

/* Paleta de cores modo Escuro */
.dark-mode {
    --bg-color: #1a1a1a;
    --text-color: #f0f0f0;
    --chat-bg: #2a2a2a;
    --bot-msg-bg: #3a3a3a;
    --user-msg-bg: #32A03E;
    --user-msg-color: white;
    --input-bg: #3a3a3a;
    --input-border: #555;
}

body {
    background-color: var(--bg-color);
    animation: glow 3s infinite alternate, backgroundGlow 7s infinite;
    font-family: Helvetica,Verdana, Geneva, Tahoma, sans-serif;
    color: var(--text-color);
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    transition: background-color 0.3s, color 0.3s;
}

header {
    background-color: var(--bg-color);
    color: white;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    height: 50px;
    display: none;
}

.logo-light {
    display: block;
}


.dark-mode .logo-light {
    display: none;
}

.dark-mode .logo-dark {
    display: block;
}

main {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

@keyframes glow {
    0% {
        box-shadow: 0 0 30px rgba(50, 160, 63, 0.103), 
                    0 0 60px rgba(50, 160, 62, 0.1), 
                    0 0 100px rgba(50, 160, 62, 0.05);
    }
    50% {
        box-shadow: 0 0 50px rgba(29, 95, 36, 0.3), 
                    0 0 100px rgba(29, 77, 35, 0.15), 
                    0 0 150px rgba(50, 160, 62, 0.1);
    }
    100% {
        box-shadow: 0 0 30px rgba(27, 82, 33, 0.092), 
                    0 0 60px rgba(50, 160, 62, 0.1), 
                    0 0 200px rgba(50, 160, 62, 0.05);
    }
}

.chat-container {
    width: 90%;
    max-width: 600px;
    background: rgba(110,110, 110, 0.2);
    backdrop-filter: blur(5px) saturate(160%);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 5mm;
    box-shadow: 0 0 30px rgba(50, 160, 62, 0.2), 
                0 0 60px rgba(50, 160, 62, 0.1), 
                0 0 100px rgba(50, 160, 62, 0.05);
    overflow: hidden;
    position: relative;
    border: 0.5mm solid rgba(110, 110, 110, 0.2);
    animation: glow 3s infinite alternate, backgroundGlow 7s infinite;
    background: linear-gradient(135deg, rgba(50, 160, 62, 0.2), rgba(50, 160, 62, 0.1), rgba(50, 160, 62, 0.05));
    background-size: 200% 200%;
    transition: all 0.3s ease;
}

.chat-container::before {
    content: '';
    position: absolute;
    top: -20px;
    left: -20px;
    right: -20px;
    bottom: -20px;
    background: radial-gradient(circle at center, rgba(50, 160, 62, 0.2) 0%, rgba(50, 160, 62, 0) 70%);
    z-index: -1;
    border-radius: 30px;
}

.chat-wrapper {
    display: flex;
    position: relative;
    width: 600px; /* Initial width */
    height: 400px; /* Initial height */
}

.resizer {
    width: 10px; /* Width of the resizer */
    cursor: ew-resize; /* Cursor style */
    background: #ccc; /* Background color */
    position: absolute;
    right: 0; /* Align to the right */
    top: 0; /* Align to the top */
    height: 100%; /* Full height */
}


.chat-header {
    color: var(--text-color);
    padding: 20px;
    text-align: center;
    font-size: 24px;
    font-family: "Playfair Display", serif;
    font-weight: normal;
    font-style: normal;
    position: relative;
    overflow: hidden;
}

.chat-header::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: inherit;
    filter: blur(10px);
    z-index: -1;
}

.chat-header::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
}

.chat-messages {
    height: 400px;
    overflow-y: auto;
    padding: 20px;
}

.message {
    display: flex;
    align-items: flex-start;
    margin-bottom: 20px;
    transition: transform 0.3s;
}

.message-content {
    padding: 12px 16px;
    border-radius: 18px;
    max-width: 80%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s;
}

.message-link {
    margin-top: 8px;
    font-size: 0.9em;
}

.message-link a {
    color: var(--primary-color);
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s, text-decoration 0.3s;
}

.message-link a:hover {
    color: #2b8934;
    text-decoration: underline;
}

.user-message {
    flex-direction: row-reverse;
    margin-left: auto;
}


.user-message .message-content {
    background-color: var(--user-msg-bg);
    color: var(--user-msg-color);
    margin-right: 10px;
}

.bot-message {
    margin-right: auto;
    flex-direction: row;
}

.profile-pic {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px ;
}

.video-container {
    margin-top: 10px;
}

.video-container video {
    width: 100%;
    border-radius: 10px;
    overflow: hidden;
}

.image-container {
    margin-top: 10px;
}

.image-container img {
    width: 100%;
    border-radius: 10px;
    overflow: hidden;
    cursor: pointer;
    margin-bottom: 10px;
}

/* style.css */

/* Fullscreen image styles */
/* Fullscreen image container */
.fullscreen-image {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    opacity: 0;
    transition: opacity 0.3s ease;
}

/* Animate image */
.animate-image {
    max-width: 60%;  /* Resize the image to occupy 60% of the screen */
    max-height: 80%; /* Maintain aspect ratio while limiting height */
    transform: scale(0.8);  /* Start scaled down */
    transition: transform 0.3s ease, opacity 0.3s ease;  /* Smooth scaling */
}

/* Style the close button (X) */
.close-button {
    position: absolute;
    top: 20px;
    right: 20px;
    background-color: transparent;
    border: none;
    color: white;
    font-size: 24px;
    cursor: pointer;
    z-index: 1001;
}

.close-button:hover {
    color: red;
}

.video-caption {
    font-size: 0.9em;
    color: #8E8E93;
    margin-top: 5px;
    text-align: center;
}

.link-preview {
    display: block;
    margin-top: 10px;
    padding: 10px;
    background-color: #F2F2F7;
    border-radius: 10px;
    text-decoration: none;
    color: inherit;
}

.link-title {
    font-weight: bold;
    margin-bottom: 5px;
}

.link-description {
    font-size: 0.9em;
    color: #8E8E93;
}

.bot-message .message-content {
    background-color: var(--bot-msg-bg);
    margin-left: 10px;
}


.input-area {
    display: flex;
    padding: 20px;
    background-color: var(--input-bg);
    border-top: 1px solid var(--input-border);
}

#questionSelect {
    flex-grow: 1;
    padding: 12px;
    border: 1px solid var(--input-border);
    border-radius: 25px;
    font-size: 16px;
    background-color: var(--input-bg);
    color: var(--text-color);
    transition: border-color 0.3s, box-shadow 0.3s;
}

#questionSelect:hover, #questionSelect:focus {
    border-color: var(--primary-color);
    box-shadow: 0 0 0 2px rgba(50, 160, 62, 0.2);
}

#sendButton {
    /* padding: 12px 24px;
    backgrounfd-color: var(--primary-color);
    color: white;
    border: none;
    border-radius: 25px;
    margin-left: 10px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s, transform 0.3s;
    white-space: nowrap;
    min-width: 80px; */
    padding: 12px 24px;
    white-space: nowrap;
    background: var(--input-color);
    color: white;
    min-width: 80px;
    margin-left: 10px;
    border: 0.5mm solid black;
    border-radius: 5mm;
    box-shadow: 3px 3px 0 black;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    transition: 0.3s;
}

#sendButton:hover {
    background-color: #2b8934;
    transform: translateY(-2px);
}

footer {
    background-color: var(--primary-color);
    color: white;
    text-align: center;
    padding: 10px;
    font-size: 14px;
}

footer a {
    color: white;
    text-decoration: none;
    transition: opacity 0.3s;
}

footer a:hover {
    opacity: 0.8;
}

@media screen and (max-width: 780px) {
    
    body {
        display: flex;
        flex-direction: column;
    }
    .user-message .profile-pic {
        margin-right: 12px;

    }

    .chat-container {
        width: 100%;
        height: 100%;
        max-width: none;
        border-radius: 20px;
        display: flex;
        flex-direction: column;
    }

    .chat-header {
        padding: 10px;
        font-size: 20px;
    }

    .input-area {
        flex-direction: column;
    }

    #questionSelect {
        margin-bottom: 10px;
        width: 100%;
        min-width: 200px;
        
    }

    #sendButton {
        width: 100%;
        margin-left: 0;
        min-width: 200px;
    }
    footer {
        flex-shrink: 1;
        padding: 5px;
        font-size: 12px;
    }


}


/* Slideshow container */
.slideshow-container {
    position: relative;
    max-width: 100%;
    margin: auto;
}

/* Hide the images by default */
.mySlides {
    display: none;
}

/* Add a fade effect to the slides */
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from { opacity: 0.4 } 
    to { opacity: 1 }
}

/* Next & previous buttons */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a background color to the buttons */
.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
}

/* Image styling */
.clickable-image {
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    width: 100%;
    height: auto;
}